requests
pyodbc
pandas
sqlalchemy  




git pull
git push
git commit -m "anything"
git add . 

عمر اعمل ال dp  و عبيلي فيو داتا
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
اجرب اعمل الجداول 


 و لازم تعمل الc#
 عشان اشبك عليها  الكود تبعي 
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!